{{> warning}}
{{> error}}

<div class="bs-docs-header" id="content">
      <div class="container">
        <h1>Topics</h1>
        <p>如果你的程序订阅了一个Topic，那么你的Topic将会在以下显示</p>
      </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
            <li class="active"><span class="glyphicon glyphicon-comment"></span> Topics</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
    {{#if collection.length}}
            {{#each collection}}
            <div class="col-md-4 col-sm-12">
                <a type="button" class="btn btn-default btn-block" href="/topics/{{urlencode name}}">{{name}}</a>
            </div>    
            {{/each}}
    {{else}}
        <div class="alert alert-warning"><h4>Notice</h4>No Topics Found</div>
    {{/if}}
    </div>
</div>
